.container {
  height: 1290px;
  width: 1290px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
}

#progressBar {
height: 5px;
width: 50px;
background-color: green;
}
